<calc-button (click)="calc.clearScreen()">ON/CE</calc-button>
<calc-button (click)="calc.removeDigitToScreen()">&lt;=</calc-button>
<calc-button (click)="calc.flipNumber()">+/-</calc-button>
<calc-button (click)="calc.tryExp()">^</calc-button>
<calc-button (click)="calc.turnOff()">OFF</calc-button>
<calc-button (click)="calc.trySqrt()">&Sqrt;</calc-button>
<calc-button (click)="calc.tryPercent()">%</calc-button>
<calc-button (click)="calc.tryDivide()">/</calc-button>
<calc-button (click)="calc.addDigitToScreen('7')">7</calc-button>
<calc-button (click)="calc.addDigitToScreen('8')">8</calc-button>
<calc-button (click)="calc.addDigitToScreen('9')">9</calc-button>
<calc-button (click)="calc.tryMultiply()">x</calc-button>
<calc-button (click)="calc.addDigitToScreen('4')">4</calc-button>
<calc-button (click)="calc.addDigitToScreen('5')">5</calc-button>
<calc-button (click)="calc.addDigitToScreen('6')">6</calc-button>
<calc-button (click)="calc.trySubtraction()">-</calc-button>
<calc-button (click)="calc.addDigitToScreen('1')">1</calc-button>
<calc-button (click)="calc.addDigitToScreen('2')">2</calc-button>
<calc-button (click)="calc.addDigitToScreen('3')">3</calc-button>
<calc-button (click)="calc.tryAddition()">+</calc-button>
<calc-button (click)="calc.addDigitToScreen('0')">0</calc-button>
<calc-button (click)="calc.addDigitToScreen('.')">.</calc-button>
<calc-button (click)="calc.evalExpression()">=</calc-button>
<p>AngThang</p>
<!-- <calc-button (click)="2+2">???</calc-button> -->
